.portfolio h2 {
  margin-bottom: 75px;
}

.projects-row {
  display: flex;
  width: 425px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  height: 425px;
  justify-content: center;
  margin-right: 65px;
  margin-bottom: 65px;
  width: 425px;
}

.image-zoom {
  height: 425px;
  overflow: hidden;
  width: 425px;
}

.project img {
  border-radius: 1px;
  opacity: 1;
  transition: all 400ms ease-in-out;
  width: 425px;
}

.project-infos {
  margin-top: 45px;
  position: absolute;
  text-align: center;
  transition: all 400ms ease-in-out;
  opacity: 0;
  width: 380px;
}

.project:hover img {
  opacity: 0.5;
  transform: scale(1.2);
}

.project:hover .project-infos {
  opacity: 1;
}

.description {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  padding: 8px 16px;
}

.project-infos h5 {
  background-color: var(--dark-grey);
  border-radius: 1px;
  color: white;
  padding: 8px 16px;
}

.project-infos h5 {
  font-size: 20px;
  text-transform: uppercase;
}

p.details {
  font-size: 12px;
  font-style: italic;
}

.project-infos a {
  background-color: transparent;
  color: var(--dark-grey);
  display: inline-block;
  font-size: 30px;
  margin-top: 20px;
  padding: 8px 16px;
  transition: all 200ms ease-in-out;
}

.project-infos a:hover {
  color: var(--accents);
}

@media screen and (max-width: 1200px) {
  .content {
    height: 100%;
  }

  .portfolio {
    width: 100%;
  }

  .projects-row {
    flex-wrap: wrap;
    justify-items: center;
    margin: 0 auto;
  }

  .project {
    margin: 40px 0;
  }

  .project img {
    opacity: 0.5;
  }

  .project-infos {
    opacity: 1;
  }
}
